<div>
<%= form_for @user do |f| %>

<p>Enter Email</p> <%= f.text_field :email %>
<br />
<p>Enter Phone </p> <%= f.text_field :phone %>
<br />
<p>Enter First Name </p> <%= f.text_field :fname %>
<br />
<p>Enter Last Name</p> <%= f.text_field :lname %>
<br />
<p>Enter Your Balance</p> <%= f.text_area :balance %>
<br />
<%= f.submit "Create" %>
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
<% end %>
</div>

